odd/bibliographies.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:teix="http://www.tei-c.org/ns/Examples" xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Element Set (Bibliographies)</title>
            <author>Michael Hawkins</author>
         </titleStmt>
         <publicationStmt>
            <publisher>Darwin Correspondence Project</publisher>
            <pubPlace>Cambridge</pubPlace>
            <date when="2022">2022</date>
            <availability status="free">
               <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
               <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                  <p>Copyright 2013 TEI Consortium.</p>
                  <p>All rights reserved.</p>
                  <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
                  <list>
                     <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</item>
                     <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</item>
                  </list>
                  <p>This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</p>
               </licence>
               <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Born digital</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <p>This customization loads the normal four core modules, plus <name>figures</name>; in the latter it adjusts the content model of <gi>figure</gi> to allow the <gi>math</gi> element from MathML (see <ptr target="http://www.w3.org/Math/"/>).</p>
         <p>Example: <eg xml:space="preserve">&lt;formula&gt; &lt;math xmlns="http://www.w3.org/1998/Math/MathML"&gt; &lt;mrow&gt;&lt;mi&gt;e&lt;/mi&gt;&lt;/mrow&gt; &lt;/math&gt; &lt;/formula&gt;</eg> </p>
         <schemaSpec ident="bibliographies" prefix="tei_" start="bibl">
            <moduleRef url="https://www.tei-c.org/release/xml/tei/Exemplars/mathml2-main.rng"/>
            <moduleRef key="tei"/>
            <moduleRef n="02" key="header" include="idno">
               <!--Unused elements: abstract appInfo application authority availability biblFull cRefPattern calendar calendarDesc catDesc catRef category change citeData citeStructure classCode classDecl conversion correction correspAction correspContext correspDesc creation distributor edition editionStmt editorialDecl encodingDesc extent fileDesc funder geoDecl handNote hyphenation interpretation keywords langUsage language licence listChange listPrefixDef namespace normalization notesStmt prefixDef principal profileDesc projectDesc publicationStmt punctuation quotation refState refsDecl rendition revisionDesc samplingDecl schemaRef scriptNote segmentation seriesStmt sourceDesc sponsor stdVals styleDefDecl tagUsage tagsDecl taxonomy teiHeader textClass titleStmt unitDecl unitDef xenoData-->
            </moduleRef>
            <moduleRef n="03" key="core" include="bibl hi item list note ref">
               <!--Unused elements: abbr add addrLine address analytic author biblScope biblStruct binaryObject cb choice cit citedRange corr date del desc distinct divGen editor ellipsis email emph expan foreign gap gb gloss graphic head headItem headLabel imprint index l label lb lg listBibl measure measureGrp media meeting mentioned milestone monogr name noteGrp num orig p pb postBox postCode ptr pubPlace publisher q quote rb reg relatedItem resp respStmt rs rt ruby said series sic soCalled sp speaker stage street teiCorpus term textLang time title unclear unit-->
            </moduleRef>

            <!--REMOVE UNUSED MODEL CLASSES-->
            <classSpec ident="model.addressLike" type="model" mode="delete"/>
            <classSpec ident="model.applicationLike" type="model" mode="delete"/>
            <classSpec ident="model.attributable" type="model" mode="delete"/>
            <classSpec ident="model.availabilityPart" type="model" mode="delete"/>
            <classSpec ident="model.castItemPart" type="model" mode="delete"/>
            <classSpec ident="model.catDescPart" type="model" mode="delete"/>
            <classSpec ident="model.certLike" type="model" mode="delete"/>
            <classSpec ident="model.choicePart" type="model" mode="delete"/>
            <classSpec ident="model.dateLike" type="model" mode="delete"/>
            <classSpec ident="model.descLike" type="model" mode="delete"/>
            <classSpec ident="model.describedResource" type="model" mode="delete"/>
            <classSpec ident="model.dimLike" type="model" mode="delete"/>
            <classSpec ident="model.div1Like" type="model" mode="delete"/>
            <classSpec ident="model.div2Like" type="model" mode="delete"/>
            <classSpec ident="model.div3Like" type="model" mode="delete"/>
            <classSpec ident="model.div4Like" type="model" mode="delete"/>
            <classSpec ident="model.div5Like" type="model" mode="delete"/>
            <classSpec ident="model.div6Like" type="model" mode="delete"/>
            <classSpec ident="model.div7Like" type="model" mode="delete"/>
            <classSpec ident="model.divBottom" type="model" mode="delete"/>
            <classSpec ident="model.divBottomPart" type="model" mode="delete"/>
            <classSpec ident="model.divGenLike" type="model" mode="delete"/>
            <classSpec ident="model.divLike" type="model" mode="delete"/>
            <classSpec ident="model.divPart" type="model" mode="delete"/>
            <classSpec ident="model.divTop" type="model" mode="delete"/>
            <classSpec ident="model.divTopPart" type="model" mode="delete"/>
            <classSpec ident="model.divWrapper" type="model" mode="delete"/>
            <classSpec ident="model.editorialDeclPart" type="model" mode="delete"/>
            <classSpec ident="model.egLike" type="model" mode="delete"/>
            <classSpec ident="model.emphLike" type="model" mode="delete"/>
            <classSpec ident="model.encodingDescPart" type="model" mode="delete"/>
            <classSpec ident="model.entryPart" type="model" mode="delete"/>
            <classSpec ident="model.eventLike" type="model" mode="delete"/>
            <classSpec ident="model.featureVal" type="model" mode="delete"/>
            <classSpec ident="model.featureVal.complex" type="model" mode="delete"/>
            <classSpec ident="model.featureVal.single" type="model" mode="delete"/>
            <classSpec ident="model.frontPart" type="model" mode="delete"/>
            <classSpec ident="model.frontPart.drama" type="model" mode="delete"/>
            <classSpec ident="model.gLike" type="model" mode="delete"/>
            <classSpec ident="model.global.edit" type="model" mode="delete"/>
            <classSpec ident="model.global.meta" type="model" mode="delete"/>
            <classSpec ident="model.glossLike" type="model" mode="delete"/>
            <classSpec ident="model.graphicLike" type="model" mode="delete"/>
            <classSpec ident="model.headLike" type="model" mode="delete"/>
            <classSpec ident="model.imprintPart" type="model" mode="delete"/>
            <classSpec ident="model.lLike" type="model" mode="delete"/>
            <classSpec ident="model.lPart" type="model" mode="delete"/>
            <classSpec ident="model.labelLike" type="model" mode="delete"/>
            <classSpec ident="model.measureLike" type="model" mode="delete"/>
            <classSpec ident="model.milestoneLike" type="model" mode="delete"/>
            <classSpec ident="model.msQuoteLike" type="model" mode="delete"/>
            <classSpec ident="model.nameLike.agent" type="model" mode="delete"/>
            <classSpec ident="model.objectLike" type="model" mode="delete"/>
            <classSpec ident="model.oddDecl" type="model" mode="delete"/>
            <classSpec ident="model.oddRef" type="model" mode="delete"/>
            <classSpec ident="model.offsetLike" type="model" mode="delete"/>
            <classSpec ident="model.orgPart" type="model" mode="delete"/>
            <classSpec ident="model.orgStateLike" type="model" mode="delete"/>
            <classSpec ident="model.pLike" type="model" mode="delete"/>
            <classSpec ident="model.pLike.front" type="model" mode="delete"/>
            <classSpec ident="model.pPart.edit" type="model" mode="delete"/>
            <classSpec ident="model.pPart.editorial" type="model" mode="delete"/>
            <classSpec ident="model.pPart.msdesc" type="model" mode="delete"/>
            <classSpec ident="model.pPart.transcriptional" type="model" mode="delete"/>
            <classSpec ident="model.persStateLike" type="model" mode="delete"/>
            <classSpec ident="model.personLike" type="model" mode="delete"/>
            <classSpec ident="model.phrase.xml" type="model" mode="delete"/>
            <classSpec ident="model.placeLike" type="model" mode="delete"/>
            <classSpec ident="model.placeNamePart" type="model" mode="delete"/>
            <classSpec ident="model.placeStateLike" type="model" mode="delete"/>
            <classSpec ident="model.profileDescPart" type="model" mode="delete"/>
            <classSpec ident="model.publicationStmtPart.agency" type="model" mode="delete"/>
            <classSpec ident="model.quoteLike" type="model" mode="delete"/>
            <classSpec ident="model.resource" type="model" mode="delete"/>
            <classSpec ident="model.respLike" type="model" mode="delete"/>
            <classSpec ident="model.segLike" type="model" mode="delete"/>
            <classSpec ident="model.settingPart" type="model" mode="delete"/>
            <classSpec ident="model.sourceDescPart" type="model" mode="delete"/>
            <classSpec ident="model.specDescLike" type="model" mode="delete"/>
            <classSpec ident="model.stageLike" type="model" mode="delete"/>
            <classSpec ident="model.teiHeaderPart" type="model" mode="delete"/>
            <classSpec ident="model.textDescPart" type="model" mode="delete"/>
            <classSpec ident="model.titlepagePart" type="model" mode="delete"/>

            <!--Element definitions-->

            <!--Elements from header-->

            <elementSpec module="header" ident="idno" mode="change">
               <!--NEW-->
               <desc xml:lang="en" versionDate="2022-08-08"/>
               <classes mode="change">
                  <memberOf key="att.datable" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.sortable" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <attList>
                  <!--REMOVE-->
                  <attDef ident="type" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
               </exemplum>
               <remarks xml:lang="en" versionDate="2022-08-08">
                  <p/>
               </remarks>
            </elementSpec>

            <!--Elements from core-->

            <elementSpec ident="bibl" module="core" mode="change" xml:base="elements-bibl/bibl.xml" xml:lang="">
               <classes mode="change">
                  <memberOf key="att.declarable" mode="delete"/>
                  <memberOf key="att.sortable" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <constraintSpec ident="bibl-xml-id-value-must-match-filename" scheme="schematron" mode="add">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:bibl[not(parent::*)]">
                        <report test="not(concat(replace(@xml:id,'^DCP-BIBL-','bibl_'),'.xml') = tokenize(document-uri(/),'/')[last()])">@xml:id number must match bibl file number.</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="bibl-must-have-xml-id" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:bibl[not(parent::*)]">
                        <report test="not(@xml:id)">
                           <name/> requires @xml:id.</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="status" usage="opt" mode="change">
                     <valList type="closed" mode="replace">
                        <valItem ident="draft"/>
                        <valItem ident="released"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="change">
                     <!--NEW-->
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
            </elementSpec>

            <elementSpec ident="date" module="core" mode="change" xml:base="elements-lett/date.xml" xml:lang="">
               <desc versionDate="2014-05-21" xml:lang="en">records a date or date range using ISO format (yyyy-mm-dd).</desc>
               <classes mode="change">
                  <memberOf key="att.canonical" mode="delete"/>
                  <memberOf key="att.dimensions" mode="delete"/>
                  <memberOf key="att.duration" mode="delete"/>
                  <memberOf key="att.editLike" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <constraintSpec ident="date-exclude" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date">
                        <let name="current_date" value="."/>
                        <let name="context" value="//ancestor::*[local-name()=('correspDesc','birth','death','event')][1]/local-name()"/>
                        <let name="all_dates" value="$current_date//ancestor::*[local-name()=$context]//tei:date"/>
                        <report test="normalize-space(@exclude) != '' and count(tokenize(@exclude,'\s+')[.=$all_dates[not(@xml:id=$current_date/@xml:id)]/concat('#',@xml:id)]) != count(tokenize(@exclude,'\s+'))">ERROR: <name/>@exclude value(s) (<value-of select="tokenize(@exclude,'\s+')[not(.=$all_dates[not(@xml:id=$current_date/@xml:id)]/concat('#',@xml:id))]"/>) does not point to <value-of select="$context"/>//date/@xml:id</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-exclude-points-to-self" scheme="schematron">
                  <constraint>
                     <report xmlns="http://purl.oclc.org/dsdl/schematron" test="@exclude and normalize-space(@exclude) != '' and tokenize(@exclude,'\s+')=concat('#',@xml:id)">ERROR: <name/>@exclude value (<value-of select="concat('#',@xml:id)"/>) points to same element as itself</report>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-exclude-not-xmlid" scheme="schematron">
                  <constraint>
                     <report xmlns="http://purl.oclc.org/dsdl/schematron" test="@exclude and normalize-space(@exclude) != '' and not(@xml:id)">ERROR: <name/> needs @xml:id</report>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-xmlid-not-exclude" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@xml:id]">
                        <let name="elem" value="."/>
                        <let name="tei_root" value="ancestor::tei:TEI"/>
                        <assert test="concat('#',$elem/@xml:id) = ($tei_root/tei:teiHeader//tei:date/@sameAs,$tei_root/tei:teiHeader//tei:date/tokenize(@exclude,'\s+'))">ERROR: <name/>@xml:id must be the target of date@exclude or date@sameAs</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-sameas-check" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@sameAs]">
                        <let name="elem" value="."/>
                        <let name="tei_root" value="ancestor::tei:TEI"/>
                        <assert test="@sameAs = ($tei_root/tei:teiHeader//tei:date|$tei_root/tei:text//tei:rs[@type='date'])/concat('#',@xml:id)">ERROR: <name/>@sameAs must point to date@xml:id</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-xmlid-not-linked-to" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date">
                        <let name="current_date" value="."/>
                        <let name="context" value="//ancestor::*[local-name()=('correspDesc','birth','death','event')][1]/local-name()"/>
                        <let name="all_dates" value="$current_date//ancestor::*[local-name()=$context]//tei:date"/>
                        <report test="@exclude and not(concat('#',@xml:id) = $all_dates/tokenize(@exclude,'\s+'))">ERROR: <name/> is not the target of any @exclude</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-exclude-missed-xmlid" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date">
                        <let name="current_date" value="."/>
                        <let name="context" value="//ancestor::*[local-name()=('correspDesc','birth','death','event')][1]/local-name()"/>
                        <let name="all_dates" value="$current_date//ancestor::*[local-name()=$context]//tei:date"/>
                        <report test="@exclude and normalize-space(@exclude)!='' and count( tokenize(@exclude,'\s+')[.= $all_dates/concat('#',@xml:id)]) != count($all_dates[@xml:id])-1">ERROR: <name/> does not link to (<value-of select="$all_dates[not(@xml:id=$current_date/@xml:id)]/concat('#',@xml:id)[not(.=tokenize($current_date/@exclude,'\s+'))]"/>)</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-xmlid-not-in-all-other-dates" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date">
                        <let name="current_date" value="."/>
                        <let name="context" value="//ancestor::*[local-name()=('correspDesc','birth','death','event')][1]/local-name()"/>
                        <let name="all_dates" value="$current_date//ancestor::*[local-name()=$context]//tei:date"/>
                        <report test="normalize-space(@xml:id)!='' and count($all_dates[tokenize(@exclude,'\s+') = $current_date/concat('#',@xml:id)]) != count($all_dates[not(@xml:id=$current_date/@xml:id)])">ERROR: <name/> is not the target of all the other <value-of select="$context"/>//date@exclude</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-notAfter-gt-notBefore" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@notBefore[. castable as xs:date or . castable as xs:gYearMonth or . castable as xs:gYear] and @notAfter[. castable as xs:date or . castable as xs:gYearMonth or . castable as xs:gYear]]">
                        <assert test="xs:date(string-join((tokenize(@notAfter,'-'),'01','01')[position() le 3],'-')) gt xs:date(string-join((tokenize(@notBefore,'-'),'01','01')[position() le 3],'-'))">ERROR: <name/>@notBefore must be less than @notAfter</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-to-gt-from" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@to[. castable as xs:date or . castable as xs:gYearMonth or . castable as xs:gYear] and @from[. castable as xs:date or . castable as xs:gYearMonth or . castable as xs:gYear]]">
                        <assert test="xs:date(string-join((tokenize(@to,'-'),'01','01')[position() le 3],'-')) gt xs:date(string-join((tokenize(@from,'-'),'01','01')[position() le 3],'-'))">ERROR: <name/>@from must be less than @to</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-attr-custom-are-datetime" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@notBefore-custom|@notAfter-custom|@when-custom]">
                        <report test="count((@notBefore-custom|@notAfter-custom|@when-custom)[not(. castable as xs:dateTime)])&gt;0">ERROR: <name/>@<value-of select="(@notBefore-custom|@notAfter-custom|@when-custom)[not(. castable as xs:dateTime)]/local-name()"/> is not a valid dateTime value</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-when-is-valid" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@when][ancestor::tei:correspDesc]">
                        <assert test="@when castable as xs:date">ERROR: <name/>@when is not a valid date (yyyy-mm-dd)</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-notBefore-is-valid" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@notBefore][ancestor::tei:correspDesc]">
                        <assert test="@notBefore castable as xs:date">ERROR: <name/>@notBefore is not a valid date (yyyy-mm-dd)</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-notAfter-is-valid" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[@notAfter][ancestor::tei:correspDesc]">
                        <assert test="@notAfter castable as xs:date">ERROR: <name/>@notAfter is not a valid date (yyyy-mm-dd)</assert>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-from-to-notAfter-notBefore-are-valid" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[(@from|@to|@notAfter|@notBefore)]">
                        <report test="(@from|@to|@notAfter|@notBefore)[normalize-space()][not(matches(.,'^\d\d\d\d(-(0[1-9]|1[012])|-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]))*$'))]">ERROR: <name/>@<value-of select="(@from|@to|@notAfter|@notBefore)[not(. castable as xs:date)]/local-name()"/> is not a valid date (yyyy-mm-dd, yyyy-mm, yyyy)</report>
                        <report test="(@from|@to|@notAfter|@notBefore)[normalize-space()][matches(.,'^\d\d\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])*$')][not(. castable as xs:date)]">ERROR: <name/>@<value-of select="(@from|@to|@notAfter|@notBefore)[normalize-space()][matches(.,'^\d\d\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])*$')][not(. castable as xs:date)]/local-name()"/> is not castable as a valid date (yyyy-mm-dd, yyyy-mm, yyyy)</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="correspDesc-date-year-check" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[ancestor::tei:correspDesc]">
                        <let name="exception_dates" value="()"/>
                        <report test="(@from|@to|@notAfter|@notBefore|@when|@notBefore-custom|@notAfter-custom|@when-custom)[number(tokenize(.,'-')[1]) &lt; 1809 or number(tokenize(.,'-')[1]) &gt;1882][not(local-name() = 'notBefore' and . = $exception_dates)]">ERROR: <name/>@<value-of select="(@from|@to|@notAfter|@notBefore|@when|@notBefore-custom|@notAfter-custom|@when-custom)[number(tokenize(.,'-')[1]) &lt; 1809 or number(tokenize(.,'-')[1]) &gt;1882]/name()"/> is out of range. Expected year values should be 1809-1882</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-needs-datable-attr" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[ancestor::tei:correspAction|parent::tei:publicationStmt][not(ancestor::tei:teiHeader//tei:change[@status='cancelled'])]">
                        <report test="count((@when,@when-custom,@notBefore,@notBefore-custom,@notAfter,@notAfter-custom)) = 0">ERROR: <name/> needs a datable attribute</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="date-must-not-have-datable-attr" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[not(ancestor::tei:correspAction|parent::tei:publicationStmt)]">
                        <report test="count((@when,@when-custom,@notBefore,@notBefore-custom,@notAfter,@notAfter-custom)) &gt; 0">ERROR: <name/> This date should NOT have any datable attributes</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="notBefore-and-notAfter-must-always-be-together" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:date[ancestor::tei:correspAction|parent::tei:publicationStmt][not(ancestor::tei:teiHeader//tei:change[@status='cancelled'])][@notBefore|@notAfter]">
                        <let name="context-elem" value="."/>
                        <report test="(@notBefore and not(@notAfter)) or (@notAfter and not(@notBefore))">ERROR: <name/> with @<value-of select="(@notBefore|@notAfter)/local-name()"/> needs @<value-of select="('notBefore','notAfter')[not(.=$context-elem/(@notBefore|@notAfter)/local-name())]"/>
                        </report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="notAfter" mode="change">
                     <desc versionDate="2014-05-29" xml:lang="en">defines the latest possible date or end of a date range where this is not known precisely.</desc>
                  </attDef>
                  <attDef ident="notAfter-custom" mode="change">
                     <desc versionDate="2014-05-29" xml:lang="en">defines the latest possible end of a temporal range where both date and time can be specified.</desc>
                  </attDef>
                  <attDef ident="notBefore" mode="change">
                     <desc versionDate="2014-05-29" xml:lang="en">defines the earliest possible date or beginning of a date range where this is not known precisely.</desc>
                  </attDef>
                  <attDef ident="notBefore-custom" mode="change">
                     <desc versionDate="2014-05-29" xml:lang="en">defines the earliest possible beginning of a temporal range where both date and time can be specified.</desc>
                  </attDef>
                  <attDef ident="when" mode="change">
                     <desc versionDate="2014-05-29" xml:lang="en">defines a specific date.</desc>
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <date when="1875-12-26">26 Dec 1875</date>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <date notBefore="1875-12-26" notAfter="1875-12-29">[27-9] Dec 1875</date>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <date notBefore="1875-12-28">after 27 Dec 1875</date>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <date notAfter="1875-12-26">before 27 Dec 1875</date>
                  </egXML>
               </exemplum>
               <!--<exemplum xml:lang="en">
<egXML xmlns="http://www.tei-c.org/ns/Examples">
  <date notBefore-custom="1875-12-24T18:05:00" notAfter-custom="1875-12-26T08:15:00">[24-26] Dec 1875</date>
</egXML>
<p>This example indicates 'some time between 6:05 pm on 24 Dec 1875 and 8:15 am on 26 Dec 1875'. This mechanism is typically used if it can be inferred that an entry was written after the last securely datable and timable entry before it and before the first one after it, but no date or time is given in the entry itself.</p>
</exemplum>-->
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <date when="1861-02-01" xml:id="date1" exclude="#date2"/>
                     <date when="1861-02-02" xml:id="date2" exclude="#date1"/>
                  </egXML>
                  <p>This example means ‘either 1 or 2 February 1861’.</p>
               </exemplum>
               <remarks versionDate="2016-05-06" xml:lang="en">
                  <p>Pay careful attention when entering values into <att>notBefore</att> and/or <att>notAfter</att> since they will <hi rend="italic">sometimes</hi> differ from the natural language date by +/- one day when the natural language form of the date employs exclusive reckoning whereas the TEI attributes <att>notBefore</att> and <att>notAfter</att> employ inclusive reckoning. Exclusive reckonings of dates, for example, are 'after 6 July 1870' (<hi rend="italic">i.e.</hi> the earliest date it could have been written is 5 July 1870) or 'before 6 July 1870' (the latest date it could have been written is 5 July 1870). In both cases, 6 July 1870 is not a valid date that the document could have been written. Inclusive reckonings include the date mentioned. Therefore, if you say something was written <att>notBefore</att> ‘06-07-1870’, you are saying that the document was written <hi rend="italic">on 6 July 1870 or later.</hi> Similarly, notAfter ‘06-07-1870’ means that the document was written <hi rend="italic">on or before 6 July 1870</hi>. The key when coding date ranges is to carefully consider what the earliest and latest possible date the letter could have been written <hi rend="bold">on</hi> and to use those values in <att>notBefore</att> and <att>notAfter</att>.</p>
                  <p>For more information on coding dates, see Appendix I: Dates in the Guidelines.</p>
                  <p><gi>date</gi> also appears within <gi>publicationStmt</gi>. There, all that is required is to put the publication year of the Darwin volume into <att>when</att>.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="hi" module="core" mode="change" xml:base="elements-lett/hi.xml" xml:lang="">
               <gloss versionDate="2014-04-19" xml:lang="en">highlight</gloss>
               <desc versionDate="2014-04-19" xml:lang="en">marks text that has been distinctively rendered in some way, e.g. underlined, overlined, italicised, or in larger text or a different colour. The nature of the formatting is indicated in <att>rend</att>.</desc>
               <classes mode="change">
                  <memberOf key="att.written" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="rend" usage="req" mode="change"><gloss versionDate="2014-06-03" xml:lang="en">rendition</gloss>
                     <desc versionDate="2014-04-20" xml:lang="en">values are "<val>bold</val>" (bold), "<val>dropCap</val>" (drop capital), "<val>italic</val>" (italic), "<val>overline</val>" (overlined), "<val>smallCaps</val>" (<hi rend="smallCaps">Small Capitals</hi>), "<val>subscript</val>" (subscripted), "<val>superscript</val>" (superscripted), "<val>underline</val>" (single underlined), "<val>doubleUnderline</val>" (double underlined). <att>rend</att> can also be used to indicate changes in text size with "<val>large</val>", "<val>larger</val>", "<val>largest</val>" and "<val>small</val>", "<val>smaller</val>", "<val>smallest</val>". It can also be used to indicate printed text (<hi rend="italic">e.g.</hi> in the letterhead) using "<val>print</val>" or that the text is typescript with "<val>typescript</val>".</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="superscript"/>
                        <valItem ident="subscript"/>
                        <valItem ident="underline"/>
                        <valItem ident="doubleUnderline"/>
                        <valItem ident="overline"/>
                        <valItem ident="italic"/>
                        <valItem ident="bold"/>
                        <valItem ident="large"/>
                        <valItem ident="larger"/>
                        <valItem ident="largest"/>
                        <valItem ident="small"/>
                        <valItem ident="smaller"/>
                        <valItem ident="smallest"/>
                        <valItem ident="dropCap"/>
                        <valItem ident="smallCaps"/>
                        <valItem ident="print"/>
                        <valItem ident="typeScript"/>
                        <valItem ident="stretchyVertical"/>
                        <valItem ident="stretchyHorizontal"/><!--<valItem ident="redInk"/>
                <valItem ident="redUnderline"/>
                <valItem ident="differentInk"/>-->
                     </valList>
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
            … is the enclosed the correct Title of the <hi rend="underline">Insectivorous Plants</hi>? … 
</egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
            … The <hi rend="underline">No<hi rend="superscript">s</hi></hi> given in this list are the correct ones.…
        </egXML>
               </exemplum>
               <remarks versionDate="2014-04-20" xml:lang="en"><!--<p>We do not attempt to record all the changes in size of the handwriting since it's normal for letterforms to change size in handwritten materials. However, these fluctuations in size <hi rend="bold">should </hi> be recorded when they seem to be relevant to the presentation or interpretation of the text.</p>-->
                  <p>All the typescripted text that we have encountered so far has been created using typewriters only capable of outputting capitalised text. For this reason, "<val>typescript</val>" is currently presumed to also mean that the text is capitalised. Should anyone encounter typescripted materials that are <hi rend="bold">not</hi> capitalised, please contact Michael Hawkins so we can revise the transcription guide and coded text appropriately.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="item" module="core" mode="change" xml:base="elements-lett/item.xml" xml:lang="">
               <!--<gloss versionDate="2014-06-17" xml:lang="en"></gloss>-->
               <desc versionDate="2014-06-27" xml:lang="en">contains an item within a <gi>list</gi>.</desc>
               <classes mode="change">
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.sortable" mode="delete"/>
               </classes>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list rend="ordered">
                        <item><label>1.</label> Scalpellum trilineatum— Chalk. Marl</item>
                        <item><label>2)</label> S.&#160;do <hi rend="underline">or</hi> S.&#160;fossula, upper Chalk</item>
                        <item><label>3</label> S.——— fossula (?) Upper chalk</item>
                        <item>Scalpellum maximum Upper Chalk</item>
                        <item><label>4</label> S.&#160;lineatum of Lower Chalk <hi rend="underline">or</hi> var of S.&#160;arcuatum of Chalk Marl. 7&#160;to</item>
                        <item><label>5</label> many valves of Pollicipes glaber.</item>
                     </list>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>This element is used only rarely by the Darwin Project. It is typically to encode formulaic lists, clearly set out as such in the original.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="lb" module="core" mode="change" xml:base="elements-lett/lb.xml" xml:lang="">
               <desc versionDate="2014-06-09" xml:lang="en">marks the beginning of a line of prose, including the first line of a paragraph. Although formally defined as ‘line break’, it is more usefully thought of as ‘line beginning’. <gi>lb</gi> should be sparingly used within the Darwin Correspondence to indicate a linebreak within the original letter text that we wish to preserve within the output.</desc>
               <classes mode="change">
                  <memberOf key="att.breaking" mode="delete"/>
                  <memberOf key="att.edition" mode="delete"/>
                  <memberOf key="att.spanning" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="resp" usage="opt" mode="change"/>
                  <!--REMOVE-->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p>With much respect, I beg to remain | Your’s faithfully | Ch. Darwin <lb type="none"/> His Excellency | Sir G.&#160;Grey | &amp;c &amp;c &amp;c</p>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p rend="left">Charles Darwin Esq. M.A. | Down, Beckenham. | Kent. <lb type="full"/> **Such as the following:—</p>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-05-21" xml:lang="en">
                  <p>Where <gi>lb</gi> occurs between two words, one space should be left before it. Where it divides a single word or occurs at the beginning of a paragraph, there should be no space on either side of it.</p>
                  <p>If you find yourself wanting to insert forced linebreaks at the very end of a paragraph (a common usage in DarML), please consult the Guidelines on paragraph (or block) styling on how to indicate that a pargraph has extra (or no) linebreaks immediately before it. If you are trying to insert forced linebreaks in parts of the metadata, please contact Michael Hawkins as this might indicate the need to update the code that renders our materials in print and online.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="list" module="core" mode="change" xml:base="elements-lett/list.xml" xml:lang="">
               <!--<gloss versionDate="2014-06-17" xml:lang="en"></gloss>-->
               <desc versionDate="2014-06-17" xml:lang="en">contains any number of items organised as a list.</desc>
               <classes mode="change">
                  <memberOf key="att.sortable" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="rend" mode="replace" usage="req">
                     <desc versionDate="2014-06-09" xml:lang="en">used to indicate how the list should be rendered. Valid values include ‘<val>bulleted</val> (with bullets) ’, ‘<val>ordered</val> (numbered with Arabic or Roman numbers or letters) ’ or ‘<val>simple</val>’ (no markers for each item).</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="bulleted"/>
                        <valItem ident="ordered"/>
                        <valItem ident="simple"/>
                     </valList>
                     <remarks versionDate="2014-06-11" xml:lang="en">
                        <p>This element is used only rarely by the Darwin Project. It is typically to encode formulaic lists, clearly set out as such in the original.</p>
                        <p>Should an atypical form of bulleting be used in the original (and desired to be reproduced in the print/online versions, please contact Michael Hawkins how it can be supported.</p>
                     </remarks>
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list type="simple">
                        <item>“intense cobalt Blue”</item>
                        <item>“silver yellow”</item>
                        <item>“deep copper red”</item>
                     </list>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list rend="block">
                        <item><label>1.</label> Scalpellum trilineatum— Chalk. Marl</item>
                        <item><label>2)</label> S.&#160;do <hi rend="underline">or</hi> S.&#160;fossula, upper Chalk</item>
                        <item><label>3</label> S.——— fossula (?) Upper chalk</item>
                        <item>Scalpellum maximum Upper Chalk</item>
                        <item><label>4</label> S.&#160;lineatum of Lower Chalk <hi rend="underline">or</hi> var of S.&#160;arcuatum of Chalk Marl. 7&#160;to</item>
                        <item><label>5</label> many valves of Pollicipes glaber.</item>
                     </list>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>This element is used only rarely by the Darwin Project. It istypically to encode formulaic lists, clearly set out as such in the original.</p>
                  <p>Should an atypical form of bulleting be used in the original (and desired to be reproduced in the print/online versions, please contact Michael Hawkins how it can be supported.</p>
                  <p>Some <gi>list</gi> currently have <att>type</att> with a value of "<val>ordered</val>". These should be manually fixed with the numbers (and any punctuation after them) coded using <gi>label</gi>.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="note" module="core" mode="change" xml:base="elements-bibl/note.xml" xml:lang="">
               <gloss versionDate="2014-06-09" xml:lang="en">note</gloss>
               <desc versionDate="2014-06-09" xml:lang="en">records either an editorial note in the header, footnotes, CD Notes or Annotations.</desc>
               <classes mode="change">
                  <memberOf key="att.anchoring" mode="delete"/>
                  <memberOf key="att.placement" mode="delete"/>
                  <memberOf key="att.pointing" mode="delete"/>
                  <memberOf key="att.written" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="n" usage="opt" mode="change"/>
                  <attDef ident="type" usage="req" mode="change">
                     <desc xml:lang="en" versionDate="2016-06-30">describes the type of note.</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="sourceLinks"/>
                        <valItem ident="volume"/>
                     </valList>
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <note type="volume">18,19,20,22,24</note>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <note type="sourceLinks">
                        <list rend="simple">
                           <item><ref type="paywalled" target="https://search.proquest.com/historical-periodicals/gospel-evolution/docview/6651353/se-2?accountid=201395">Proquest</ref></item>
                           <item><ref type="open" target="https://archive.org/details/b22303753">Archive.org</ref></item>
                        </list>
                     </note>
                  </egXML>
               </exemplum>
            </elementSpec>

            <elementSpec ident="p" module="core" mode="change" xml:base="elements-lett/p.xml" xml:lang="">
               <desc xml:lang="en" versionDate="2014-05-26">marks paragraphs in prose. No attributes are normally needed but <att>rend</att> (rendition) is available and it is used to indicate (in the case of textual transcriptions) how the item was rendered in the original text. Its values are "<val>right</val>" (right-aligned), "<val>left</val>" (left-aligned), "<val>centre</val>" (centred), or "<val>indent0</val>", "<val>indent1</val>", "<val>indent2</val>", "<val>indent3</val>" (to "<val>indent40</val>", to indicate the level of indentation on the first line of a paragraph),  "<val>hangingIndent1</val>", "<val>hangingIndent2</val>", "<val>hangingIndent3</val>" (to indicate levels of hanging indents) and "<val>insetBlock</val>" (for a narrower inset block of text with increased margins on both the left and right). If <att>rend</att> is omitted, the paragraph will be output according to the destination format's (ie. print or web) default paragraph styles.</desc>
               <classes mode="change">
                  <memberOf key="att.written"/>
                  <memberOf key="att.declaring" mode="delete"/>
                  <memberOf key="att.fragmentable" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="rend" mode="change">
                     <valList type="closed" mode="replace">
                        <valItem ident="right"/>
                        <valItem ident="left"/>
                        <valItem ident="centre"/>
                        <valItem ident="indent0"/>
                        <valItem ident="indent1"/>
                        <valItem ident="indent2"/>
                        <valItem ident="indent3"/>
                        <valItem ident="blockIndent"/>
                        <valItem ident="hangingIndent1"/>
                        <valItem ident="hangingIndent2"/>
                        <valItem ident="hangingIndent3"/>
                        <valItem ident="blockquote"/>
                     </valList>
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en" versionDate="2014-06-10">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p>P.S.&#160;Upon the whole the Cirripedia show more affinity, <hi rend="underline">I think</hi>, to the Upper Chalk, than to any other stage— <hi rend="underline">pray</hi> tell me whether Upper Chalk fossils are generally more or less abundant than those of the Lower Chalk &amp; Chalk Marl</p>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p rend="centre">From the Insects to their friend, Charles Darwin.</p>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-05-21" xml:lang="en">
                  <p><att>rend</att> is primarily to be used to record how the text was rendered in the original document. While it <hi rend="bold">may</hi> be used to force certain renderings on the outputted versions that were not present in the original, editors should contact Michael Hawkins should they feel the desire to do so.</p>
                  <p><att>rend</att> has not been given the value "<val>justified</val>" (where both the left and right hand sides of the texts are flush with the margin) since value was not used within DarXML.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="publisher" module="core" mode="change" xml:base="elements-lett/publisher.xml" xml:lang="">
               <!--<gloss versionDate="2014-06-17" xml:lang="en"></gloss>-->
               <desc versionDate="2015-08-16" xml:lang="en">gives the name of the organisation responsible for the volume of The Correspondence of Charles Darwin containing this letter. This is invariably ‘Cambridge University Press’.</desc>
               <classes mode="change">
                  <memberOf key="att.canonical" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
               </classes>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <publicationStmt>
                        <publisher>CUP</publisher>
                        <pubPlace>Cambridge</pubPlace>
                        <date when="2015">2015</date>
                     </publicationStmt>
                  </egXML>
               </exemplum>
               <remarks versionDate="2015-08-16" xml:lang="en">
                  <p>This element is generated automatically before transcription begins.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="pubPlace" module="core" mode="change" xml:base="elements-lett/pubPlace.xml" xml:lang="">
               <!--<gloss versionDate="2014-06-17" xml:lang="en"></gloss>-->
               <desc versionDate="2015-08-16" xml:lang="en">gives the place of publication of the volume of The Correspondence of Charles Darwin containing this letter. This is invariably ‘Cambridge’.</desc>
               <classes mode="change">
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.naming" mode="delete"/>
               </classes>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <publicationStmt>
                        <publisher>CUP</publisher>
                        <pubPlace>Cambridge</pubPlace>
                        <date when="2015">2015</date>
                     </publicationStmt>
                  </egXML>
               </exemplum>
               <remarks versionDate="2015-08-16" xml:lang="en">
                  <p>This element is generated automatically before transcription begins.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="quote" module="core" mode="change" xml:base="elements-lett/quote.xml" xml:lang="">
               <!--<gloss versionDate="2014-06-17" xml:lang="en"></gloss>-->
               <!--<desc versionDate="2014-06-17" xml:lang="en"></desc>-->
               <classes mode="change">
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.msExcerpt" mode="delete"/>
                  <memberOf key="att.notated" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"/>
               </exemplum>
               <remarks versionDate="2016-05-06" xml:lang="en">
                  <p>The use of this element within the Darwin Correspondence Project is uncertain due to how its predecessor was used within DarXML. It should not be used until these issues are resolved by the editors.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="ref" module="core" mode="change" xml:base="elements-bibl/ref.xml" xml:lang="">
               <classes mode="change">
                  <memberOf key="att.cReferencing" mode="delete"/>
                  <memberOf key="att.declaring" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.internetMedia" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="target" usage="req" mode="change">
                     <desc xml:lang="en" versionDate="2016-06-30">Points to an external resource (https://....)".</desc>
                     <datatype><rng:data type="string">
                           <rng:param name="pattern">https*://.+</rng:param>
                        </rng:data>
                     </datatype>
                  </attDef>
                  <attDef ident="type" usage="req" mode="change">
                     <desc versionDate="2014-04-20" xml:lang="en">Describes whether the resource being linked to is freely available online ("<val>open</val>") or behind a paywall ("<val>paywalled</val>").</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="open"/>
                        <valItem ident="paywalled"/>
                     </valList>
                  </attDef>
                  <!--REMOVE-->
                  <attDef ident="evaluate" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="targetLang" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <ref type="open" target="https://babel.hathitrust.org/cgi/pt?id=wu.89119129534&amp;view=1up&amp;seq=10">The Encyclopaedia Britannica, or, Dictionary ... v.7</ref>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <ref type="paywalled" target="https://search.proquest.com/historical-periodicals/gospel-evolution/docview/6651353/se-2?accountid=201395">Elam, Charles, ‘The Gospel of Evolution.’ <hi rend="italic">The Contemporary review</hi>, 1866-1900; London Vol. 37,  (May 1880): [713]-740.</ref>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>Be sure to ensure that any ampersands in the URL are properly escaped as &amp;amp;</p>
                  <p>Always ensure that you link to the canonical URL to the resource and not the specific URL that you might have used to find the resource on the service. The canonical URLs are more likely to work in the longer term than the more ideosyncratic ones generated by search queries on the service. For example, the hyperlink recorded in the comments on Elam's ‘Gospel of Evolution’ was <val>https://search.proquest.com/docview/6651353?rfr_id=info%3Axri%2Fsid%3Aprimo</val> but the canonical URL for it is <val>https://search.proquest.com/historical-periodicals/gospel-evolution/docview/6651353/se-2?accountid=201395</val>.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="title" module="core" mode="change" xml:base="elements-lett/title.xml" xml:lang="">
               <!--<gloss versionDate="2014-06-17" xml:lang="en"></gloss>-->
               <desc versionDate="2014-06-29" xml:lang="en">contains the title (letter header) of the electronic document.</desc>
               <classes mode="change">
                  <memberOf key="att.canonical" mode="delete"/>
                  <memberOf key="att.datable" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <attList>
                  <!--REMOVE-->
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <title xml:id="main_title">From R.&#160;F.&#160;Cooke&#160;&#160;29&#160;May&#160;1875</title>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>This element appears in several contexts throughout the files (such as <gi>seriesStmt</gi>), only the version in <gi>titleStmt</gi> should be edited by editors.</p>
               </remarks>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>