odd/bibliographies.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:teix="http://www.tei-c.org/ns/Examples" xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Bibliographies Transcription Guide</title>
            <author>Michael Hawkins</author>
         </titleStmt>
         <publicationStmt>
            <publisher>Darwin Correspondence Project</publisher>
            <pubPlace>Cambridge</pubPlace>
            <date when="2022">2022</date>
            <availability status="free">
               <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License </licence>
               <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
                  <p>Copyright 2013 TEI Consortium.</p>
                  <p>All rights reserved.</p>
                  <p>Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:</p>
                  <list>
                     <item>Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.</item>
                     <item>Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.</item>
                  </list>
                  <p>This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage.</p>
               </licence>
               <p>TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the <ref target="mailto:info@tei-c.org">TEI Consortium</ref>. </p>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Born digital</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <p>This customization loads the normal four core modules, plus <name>figures</name>; in the latter it adjusts the content model of <gi>figure</gi> to allow the <gi>math</gi> element from MathML (see <ptr target="http://www.w3.org/Math/"/>).</p>
         <p>Example: <eg xml:space="preserve">&lt;formula&gt; &lt;math xmlns="http://www.w3.org/1998/Math/MathML"&gt; &lt;mrow&gt;&lt;mi&gt;e&lt;/mi&gt;&lt;/mrow&gt; &lt;/math&gt; &lt;/formula&gt;</eg> </p>
         <schemaSpec ident="bibliographies" prefix="tei_" start="bibl">
            <moduleRef url="https://www.tei-c.org/release/xml/tei/Exemplars/mathml2-main.rng"/>
            <moduleRef key="tei"/>
            <moduleRef n="02" key="header" include="idno">
               <!--Unused elements: abstract appInfo application authority availability biblFull cRefPattern calendar calendarDesc catDesc catRef category change citeData citeStructure classCode classDecl conversion correction correspAction correspContext correspDesc creation distributor edition editionStmt editorialDecl encodingDesc extent fileDesc funder geoDecl handNote hyphenation interpretation keywords langUsage language licence listChange listPrefixDef namespace normalization notesStmt prefixDef principal profileDesc projectDesc publicationStmt punctuation quotation refState refsDecl rendition revisionDesc samplingDecl schemaRef scriptNote segmentation seriesStmt sourceDesc sponsor stdVals styleDefDecl tagUsage tagsDecl taxonomy teiHeader textClass titleStmt unitDecl unitDef xenoData-->
            </moduleRef>
            <moduleRef n="03" key="core" include="bibl hi item list note ref">
               <!--Unused elements: abbr add addrLine address analytic author biblScope biblStruct binaryObject cb choice cit citedRange corr date del desc distinct divGen editor ellipsis email emph expan foreign gap gb gloss graphic head headItem headLabel imprint index l label lb lg listBibl measure measureGrp media meeting mentioned milestone monogr name noteGrp num orig p pb postBox postCode ptr pubPlace publisher q quote rb reg relatedItem resp respStmt rs rt ruby said series sic soCalled sp speaker stage street teiCorpus term textLang time title unclear unit-->
            </moduleRef>

            <!--REMOVE UNUSED MODEL CLASSES-->
            <classSpec ident="model.addressLike" type="model" mode="delete"/>
            <classSpec ident="model.applicationLike" type="model" mode="delete"/>
            <classSpec ident="model.attributable" type="model" mode="delete"/>
            <classSpec ident="model.availabilityPart" type="model" mode="delete"/>
            <classSpec ident="model.castItemPart" type="model" mode="delete"/>
            <classSpec ident="model.catDescPart" type="model" mode="delete"/>
            <classSpec ident="model.certLike" type="model" mode="delete"/>
            <classSpec ident="model.choicePart" type="model" mode="delete"/>
            <classSpec ident="model.dateLike" type="model" mode="delete"/>
            <classSpec ident="model.descLike" type="model" mode="delete"/>
            <classSpec ident="model.describedResource" type="model" mode="delete"/>
            <classSpec ident="model.dimLike" type="model" mode="delete"/>
            <classSpec ident="model.div1Like" type="model" mode="delete"/>
            <classSpec ident="model.div2Like" type="model" mode="delete"/>
            <classSpec ident="model.div3Like" type="model" mode="delete"/>
            <classSpec ident="model.div4Like" type="model" mode="delete"/>
            <classSpec ident="model.div5Like" type="model" mode="delete"/>
            <classSpec ident="model.div6Like" type="model" mode="delete"/>
            <classSpec ident="model.div7Like" type="model" mode="delete"/>
            <classSpec ident="model.divBottom" type="model" mode="delete"/>
            <classSpec ident="model.divBottomPart" type="model" mode="delete"/>
            <classSpec ident="model.divGenLike" type="model" mode="delete"/>
            <classSpec ident="model.divLike" type="model" mode="delete"/>
            <classSpec ident="model.divPart" type="model" mode="delete"/>
            <classSpec ident="model.divTop" type="model" mode="delete"/>
            <classSpec ident="model.divTopPart" type="model" mode="delete"/>
            <classSpec ident="model.divWrapper" type="model" mode="delete"/>
            <classSpec ident="model.editorialDeclPart" type="model" mode="delete"/>
            <classSpec ident="model.egLike" type="model" mode="delete"/>
            <classSpec ident="model.emphLike" type="model" mode="delete"/>
            <classSpec ident="model.encodingDescPart" type="model" mode="delete"/>
            <classSpec ident="model.entryPart" type="model" mode="delete"/>
            <classSpec ident="model.eventLike" type="model" mode="delete"/>
            <classSpec ident="model.featureVal" type="model" mode="delete"/>
            <classSpec ident="model.featureVal.complex" type="model" mode="delete"/>
            <classSpec ident="model.featureVal.single" type="model" mode="delete"/>
            <classSpec ident="model.frontPart" type="model" mode="delete"/>
            <classSpec ident="model.frontPart.drama" type="model" mode="delete"/>
            <classSpec ident="model.gLike" type="model" mode="delete"/>
            <classSpec ident="model.global.edit" type="model" mode="delete"/>
            <classSpec ident="model.global.meta" type="model" mode="delete"/>
            <classSpec ident="model.glossLike" type="model" mode="delete"/>
            <classSpec ident="model.graphicLike" type="model" mode="delete"/>
            <classSpec ident="model.headLike" type="model" mode="delete"/>
            <classSpec ident="model.imprintPart" type="model" mode="delete"/>
            <classSpec ident="model.lLike" type="model" mode="delete"/>
            <classSpec ident="model.lPart" type="model" mode="delete"/>
            <classSpec ident="model.labelLike" type="model" mode="delete"/>
            <classSpec ident="model.measureLike" type="model" mode="delete"/>
            <classSpec ident="model.milestoneLike" type="model" mode="delete"/>
            <classSpec ident="model.msQuoteLike" type="model" mode="delete"/>
            <classSpec ident="model.nameLike.agent" type="model" mode="delete"/>
            <classSpec ident="model.objectLike" type="model" mode="delete"/>
            <classSpec ident="model.oddDecl" type="model" mode="delete"/>
            <classSpec ident="model.oddRef" type="model" mode="delete"/>
            <classSpec ident="model.offsetLike" type="model" mode="delete"/>
            <classSpec ident="model.orgPart" type="model" mode="delete"/>
            <classSpec ident="model.orgStateLike" type="model" mode="delete"/>
            <classSpec ident="model.pLike" type="model" mode="delete"/>
            <classSpec ident="model.pLike.front" type="model" mode="delete"/>
            <classSpec ident="model.pPart.edit" type="model" mode="delete"/>
            <classSpec ident="model.pPart.editorial" type="model" mode="delete"/>
            <classSpec ident="model.pPart.msdesc" type="model" mode="delete"/>
            <classSpec ident="model.pPart.transcriptional" type="model" mode="delete"/>
            <classSpec ident="model.persStateLike" type="model" mode="delete"/>
            <classSpec ident="model.personLike" type="model" mode="delete"/>
            <classSpec ident="model.phrase.xml" type="model" mode="delete"/>
            <classSpec ident="model.placeLike" type="model" mode="delete"/>
            <classSpec ident="model.placeNamePart" type="model" mode="delete"/>
            <classSpec ident="model.placeStateLike" type="model" mode="delete"/>
            <classSpec ident="model.profileDescPart" type="model" mode="delete"/>
            <classSpec ident="model.publicationStmtPart.agency" type="model" mode="delete"/>
            <classSpec ident="model.quoteLike" type="model" mode="delete"/>
            <classSpec ident="model.resource" type="model" mode="delete"/>
            <classSpec ident="model.respLike" type="model" mode="delete"/>
            <classSpec ident="model.segLike" type="model" mode="delete"/>
            <classSpec ident="model.settingPart" type="model" mode="delete"/>
            <classSpec ident="model.sourceDescPart" type="model" mode="delete"/>
            <classSpec ident="model.specDescLike" type="model" mode="delete"/>
            <classSpec ident="model.stageLike" type="model" mode="delete"/>
            <classSpec ident="model.teiHeaderPart" type="model" mode="delete"/>
            <classSpec ident="model.textDescPart" type="model" mode="delete"/>
            <classSpec ident="model.titlepagePart" type="model" mode="delete"/>

            <!--Element definitions-->

            <!--Elements from header-->

            <elementSpec module="header" ident="idno" mode="change">
               <!--TODO: Review this elem -->
               <desc xml:lang="en" versionDate="2022-08-08"/>
               <classes mode="change">
                  <memberOf key="att.datable" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.sortable" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>

            <!--Elements from core-->

            <elementSpec ident="bibl" module="core" mode="change" xml:base="elements-bibl/bibl.xml">
               <classes mode="change">
                  <memberOf key="att.declarable" mode="delete"/>
                  <memberOf key="att.sortable" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <constraintSpec ident="bibl-xml-id-value-must-match-filename" scheme="schematron" mode="add">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:bibl[not(parent::*)]">
                        <report test="not(concat(replace(@xml:id,'^DCP-BIBL-','bibl_'),'.xml') = tokenize(document-uri(/),'/')[last()])">@xml:id number must match bibl file number.</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <constraintSpec ident="bibl-must-have-xml-id" scheme="schematron">
                  <constraint>
                     <rule xmlns="http://purl.oclc.org/dsdl/schematron" context="tei:bibl[not(parent::*)]">
                        <report test="not(@xml:id)">
                           <name/> requires @xml:id.</report>
                     </rule>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="status" usage="opt" mode="change">
                     <valList type="closed" mode="replace">
                        <valItem ident="draft"/>
                        <valItem ident="released"/>
                     </valList>
                  </attDef>
                  <attDef ident="xml:id" mode="change">
                     <!--TODO: Review use of bibl/@xml:id and document -->
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
            </elementSpec>
            
            <elementSpec ident="hi" module="core" mode="change" xml:base="elements-lett/hi.xml">
               <gloss versionDate="2014-04-19" xml:lang="en">highlight</gloss>
               <desc versionDate="2014-04-19" xml:lang="en">marks text that has been distinctively rendered in some way, e.g. underlined, overlined, italicised, or in larger text or a different colour. The nature of the formatting is indicated in <att>rend</att>.</desc>
               <classes mode="change">
                  <memberOf key="att.written" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="rend" usage="req" mode="change"><gloss versionDate="2014-06-03" xml:lang="en">rendition</gloss>
                     <desc versionDate="2014-04-20" xml:lang="en">values are "<val>bold</val>" (bold), "<val>dropCap</val>" (drop capital), "<val>italic</val>" (italic), "<val>overline</val>" (overlined), "<val>smallCaps</val>" (<hi rend="smallCaps">Small Capitals</hi>), "<val>subscript</val>" (subscripted), "<val>superscript</val>" (superscripted), "<val>underline</val>" (single underlined), "<val>doubleUnderline</val>" (double underlined). <att>rend</att> can also be used to indicate changes in text size with "<val>large</val>", "<val>larger</val>", "<val>largest</val>" and "<val>small</val>", "<val>smaller</val>", "<val>smallest</val>". It can also be used to indicate printed text (<hi rend="italic">e.g.</hi> in the letterhead) using "<val>print</val>" or that the text is typescript with "<val>typescript</val>".</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="superscript"/>
                        <valItem ident="subscript"/>
                        <valItem ident="underline"/>
                        <valItem ident="doubleUnderline"/>
                        <valItem ident="overline"/>
                        <valItem ident="italic"/>
                        <valItem ident="bold"/>
                        <valItem ident="large"/>
                        <valItem ident="larger"/>
                        <valItem ident="largest"/>
                        <valItem ident="small"/>
                        <valItem ident="smaller"/>
                        <valItem ident="smallest"/>
                        <valItem ident="dropCap"/>
                        <valItem ident="smallCaps"/>
                        <valItem ident="print"/>
                        <valItem ident="typeScript"/>
                        <valItem ident="stretchyVertical"/>
                        <valItem ident="stretchyHorizontal"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
            … is the enclosed the correct Title of the <hi rend="underline">Insectivorous Plants</hi>? … 
</egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
            … The <hi rend="underline">No<hi rend="superscript">s</hi></hi> given in this list are the correct ones.…
        </egXML>
               </exemplum>
               <remarks versionDate="2014-04-20" xml:lang="en">
                  <p>All the typescripted text that we have encountered so far has been created using typewriters only capable of outputting capitalised text. For this reason, "<val>typescript</val>" is currently presumed to also mean that the text is capitalised. Should anyone encounter typescripted materials that are <hi rend="bold">not</hi> capitalised, please contact Michael Hawkins so we can revise the transcription guide and coded text appropriately.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="item" module="core" mode="change" xml:base="elements-lett/item.xml">
               <desc versionDate="2014-06-27" xml:lang="en">contains an item within a <gi>list</gi>.</desc>
               <classes mode="change">
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.sortable" mode="delete"/>
               </classes>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list rend="ordered">
                        <item><label>1.</label> Scalpellum trilineatum— Chalk. Marl</item>
                        <item><label>2)</label> S.&#160;do <hi rend="underline">or</hi> S.&#160;fossula, upper Chalk</item>
                        <item><label>3</label> S.——— fossula (?) Upper chalk</item>
                        <item>Scalpellum maximum Upper Chalk</item>
                        <item><label>4</label> S.&#160;lineatum of Lower Chalk <hi rend="underline">or</hi> var of S.&#160;arcuatum of Chalk Marl. 7&#160;to</item>
                        <item><label>5</label> many valves of Pollicipes glaber.</item>
                     </list>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>This element is used only rarely by the Darwin Project. It is typically to encode formulaic lists, clearly set out as such in the original.</p>
               </remarks>
            </elementSpec>
            
            <elementSpec ident="list" module="core" mode="change" xml:base="elements-lett/list.xml">
               <desc versionDate="2014-06-17" xml:lang="en">contains any number of items organised as a list.</desc>
               <classes mode="change">
                  <memberOf key="att.sortable" mode="delete"/>
                  <memberOf key="att.typed" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="rend" mode="replace" usage="req">
                     <desc versionDate="2014-06-09" xml:lang="en">used to indicate how the list should be rendered. Valid values include ‘<val>bulleted</val> (with bullets) ’, ‘<val>ordered</val> (numbered with Arabic or Roman numbers or letters) ’ or ‘<val>simple</val>’ (no markers for each item).</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="bulleted"/>
                        <valItem ident="ordered"/>
                        <valItem ident="simple"/>
                     </valList>
                     <remarks versionDate="2014-06-11" xml:lang="en">
                        <p>This element is used only rarely by the Darwin Project. It is typically to encode formulaic lists, clearly set out as such in the original.</p>
                        <p>Should an atypical form of bulleting be used in the original (and desired to be reproduced in the print/online versions, please contact Michael Hawkins how it can be supported.</p>
                     </remarks>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list type="simple">
                        <item>“intense cobalt Blue”</item>
                        <item>“silver yellow”</item>
                        <item>“deep copper red”</item>
                     </list>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <list rend="block">
                        <item><label>1.</label> Scalpellum trilineatum— Chalk. Marl</item>
                        <item><label>2)</label> S.&#160;do <hi rend="underline">or</hi> S.&#160;fossula, upper Chalk</item>
                        <item><label>3</label> S.——— fossula (?) Upper chalk</item>
                        <item>Scalpellum maximum Upper Chalk</item>
                        <item><label>4</label> S.&#160;lineatum of Lower Chalk <hi rend="underline">or</hi> var of S.&#160;arcuatum of Chalk Marl. 7&#160;to</item>
                        <item><label>5</label> many valves of Pollicipes glaber.</item>
                     </list>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>This element is used only rarely by the Darwin Project. It istypically to encode formulaic lists, clearly set out as such in the original.</p>
                  <p>Should an atypical form of bulleting be used in the original (and desired to be reproduced in the print/online versions, please contact Michael Hawkins how it can be supported.</p>
                  <p>Some <gi>list</gi> currently have <att>type</att> with a value of "<val>ordered</val>". These should be manually fixed with the numbers (and any punctuation after them) coded using <gi>label</gi>.</p>
               </remarks>
            </elementSpec>

            <elementSpec ident="note" module="core" mode="change" xml:base="elements-bibl/note.xml">
               <gloss versionDate="2014-06-09" xml:lang="en">note</gloss>
               <desc versionDate="2014-06-09" xml:lang="en">records either an editorial note in the header, footnotes, CD Notes or Annotations.</desc>
               <classes mode="change">
                  <memberOf key="att.anchoring" mode="delete"/>
                  <memberOf key="att.placement" mode="delete"/>
                  <memberOf key="att.pointing" mode="delete"/>
                  <memberOf key="att.written" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="n" usage="opt" mode="change"/>
                  <attDef ident="type" usage="req" mode="change">
                     <desc xml:lang="en" versionDate="2016-06-30">describes the type of note.</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="sourceLinks"/>
                        <valItem ident="volume"/>
                     </valList>
                  </attDef>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <note type="volume">18,19,20,22,24</note>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <note type="sourceLinks">
                        <list rend="simple">
                           <item><ref type="paywalled" target="https://search.proquest.com/historical-periodicals/gospel-evolution/docview/6651353/se-2?accountid=201395">Proquest</ref></item>
                           <item><ref type="open" target="https://archive.org/details/b22303753">Archive.org</ref></item>
                        </list>
                     </note>
                  </egXML>
               </exemplum>
            </elementSpec>
            
            <elementSpec ident="ref" module="core" mode="change" xml:base="elements-bibl/ref.xml">
               <classes mode="change">
                  <memberOf key="att.cReferencing" mode="delete"/>
                  <memberOf key="att.declaring" mode="delete"/>
                  <memberOf key="att.global" mode="delete"/>
                  <memberOf key="att.internetMedia" mode="delete"/>
               </classes>
               <attList>
                  <attDef ident="target" usage="req" mode="change">
                     <desc xml:lang="en" versionDate="2016-06-30">Points to an external resource (https://....)".</desc>
                     <datatype><rng:data type="string">
                           <rng:param name="pattern">https*://.+</rng:param>
                        </rng:data>
                     </datatype>
                  </attDef>
                  <attDef ident="type" usage="req" mode="change">
                     <desc versionDate="2014-04-20" xml:lang="en">Describes whether the resource being linked to is freely available online ("<val>open</val>") or behind a paywall ("<val>paywalled</val>").</desc>
                     <valList type="closed" mode="replace">
                        <valItem ident="open"/>
                        <valItem ident="paywalled"/>
                     </valList>
                  </attDef>
                  <attDef ident="evaluate" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="targetLang" mode="delete"/>
               </attList>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <ref type="open" target="https://babel.hathitrust.org/cgi/pt?id=wu.89119129534&amp;view=1up&amp;seq=10">The Encyclopaedia Britannica, or, Dictionary ... v.7</ref>
                  </egXML>
               </exemplum>
               <exemplum xml:lang="en">
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <ref type="paywalled" target="https://search.proquest.com/historical-periodicals/gospel-evolution/docview/6651353/se-2?accountid=201395">Elam, Charles, ‘The Gospel of Evolution.’ <hi rend="italic">The Contemporary review</hi>, 1866-1900; London Vol. 37,  (May 1880): [713]-740.</ref>
                  </egXML>
               </exemplum>
               <remarks versionDate="2014-06-11" xml:lang="en">
                  <p>Be sure to ensure that any ampersands in the URL are properly escaped as &amp;amp;</p>
                  <p>Always ensure that you link to the canonical URL to the resource and not the specific URL that you might have used to find the resource on the service. The canonical URLs are more likely to work in the longer term than the more ideosyncratic ones generated by search queries on the service. For example, the hyperlink recorded in the comments on Elam's ‘Gospel of Evolution’ was <val>https://search.proquest.com/docview/6651353?rfr_id=info%3Axri%2Fsid%3Aprimo</val> but the canonical URL for it is <val>https://search.proquest.com/historical-periodicals/gospel-evolution/docview/6651353/se-2?accountid=201395</val>.</p>
               </remarks>
            </elementSpec>
            
         </schemaSpec>
      </body>
   </text>
</TEI>